version:  "3.8"

services:
  artemis:
    image: apache/activemq-artemis:latest
    ports:
      - "61616:61616"
      - "8161:8161"
    environment:
      ARTEMIS_USER: artemis
      ARTEMIS_PASSWORD: artemis